body
{
    background-color: gray;

}

.main
{
    width:600px;
    height:150px;
    background-color: white;
    border-radius: 10px;
    margin-top: 200px;
    margin-left: 300px;
    text-align: center;
}